name: Deploy to WordPress.org

on:
  push:
    tags:
    - "*"
jobs:
  tag:
    name: On new tag
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Set Node.js 16.x
      uses: actions/setup-node@v4
      with:
        node-version: 16.x
    - run: composer install && yarn && yarn build
    
    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@master
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
        SLUG: plugin-placeholder