name: On Template

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  go-publish:
    name: On use template

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ^1.19

      - name: Replace namespaces if using as template
        run: go install github.com/joanrodas/plubo-cli@latest && plubo-cli init_template

      - name: Commit
        uses: actions-x/commit@v6
        with:
          name: 'Plugin Init - Replace namespaces'
          force: true
          branch: 'main'
